@model IEnumerable<OdeToFood.Data.Models.Resturant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        There are @Model.Count() restaurants in the database
    </div>
</div>


<ul>
    @foreach(var rest in Model)
    {
        <li>
            @rest.Name
        </li>
    }
</ul>
